Inbox(<%= @emails.messages.count %>)

<main style="padding: 20px;">
  <% @emails.messages.each do |message| %>
    <span><%= link_to message.id, mail_box_path(message.id) %> </span><br />
  <% end %>
</main>